.banner-main {
  height: 716px;
  margin-bottom: 16px;
  color: $white;
  font-weight: 300;

  &-inner {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;

    @include media-breakpoint-up(lg) {
      align-items: flex-end;
    }

    h1 {
      font-size: 50px;
      font-weight: 700;

      @include media-breakpoint-up(lg) {
        font-size: 75px;
        padding-right: 80px;
      }
    }

    h2 {
      font-size: 26;
      font-weight: 300;

      @include media-breakpoint-up(lg) {
        font-size: 42px;
      }
    }
  }

  &-copy {
    width: 100%;
    margin: 0 auto;
    padding: 0 21.86%;
    left: 0;
    position: absolute;
    bottom: 70px;

    @include media-breakpoint-up(lg) {
      bottom: 16px;
      left: unset;
      right: 80px;
      width: auto;
      padding: 0;
      text-align: right;
    }

    p:first-child {
      span {
        display: block;
        font-size: 24px;

        @include media-breakpoint-up(lg) {
          display: inline-block;
          font-size: 18px;
        }
      }
    }

    p:last-child {
      display: none;

      @include media-breakpoint-up(lg) {
        display: block;
      }
    }
  }
}
